<!doctype html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>欢迎注册</title>
	<link th:href="@{../static/css/register.css}" rel="stylesheet">
</head>
<body>

<div class="form-div">
	<div class="reg-content">
		<h1>欢迎注册</h1>
		<span>已有帐号？</span> <a th:action="@{users/login1}" href="login1">登录</a>
	</div>
	<form id="reg-form" action="/users/registerSub" method="post">

		<table>

			<tr>
				<td>用户名</td>
				<td class="inputs">
					<input name="username" type="text" id="username">
					<br>
					<span id="username_err" class="err_msg" th:text="${register_msg}" ></span>
				</td>
			</tr>
			<tr>
				<td>密码</td>
				<td class="inputs">
					<input name="password" type="password" id="password">
					<br>
					<span id="password_err" class="err_msg" style="display: none">密码格式有误</span>
				</td>
			</tr>
		</table>
		<div class="buttons">
			<input value="注 册" type="submit" id="reg_btn">
		</div>
		<br class="clear">
	</form>

</div>

<script>


</script>
</body>
</html>
